@mixin animation($duration, $delay, $direction, $iteration) {
    animation-duration: $duration;
    animation-delay: $delay;
    animation-direction: $direction;
    animation-iteration-count: $iteration; 
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

.container {
    height: 100vh;
    display: flex;
    align-content: center;
}

.slide {
    position: absolute;
    z-index: 1;
    opacity: 0;

    .visual {
        // transform: translateX(-1000px);
        // transition: transform 1s ease-in;
    }

    &.is-active {
        animation: fadeIn 1s ease-in 1 forwards;

        .visual {
            // transform: translateX(0);
        }
    }
}