.slide {
    display: flex;
    height: 90vh;
    width: 90vw;
    justify-content: center;
}

.description {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.visual {
  flex: 5;
  display: flex;
  justify-content: center;
  z-index: 9999;
}
  
.visual, .description {
    padding: 1em;
}

.canvasparticles {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}